/*Começo do contato*/
/*-----------------*/


div.contato-info {
	margin-bottom: 50px;
	height: 25px;
}

img.contato {
	width: 25px;
	height: 25px;
}

div.mapa {
	margin-bottom: -4px;
}

/*Fim do contato*/
/*--------------*/