/*Começo do contato*/
/*-----------------*/

form#pipefy {
	display: inline-block;
	border: 2px solid rgb(220,220,220);
}

div.email, div.telefone {
	display: inline-block;
}

div.contato-info {
	margin-bottom: 50px;
	height: 25px;
}

img.contato {
	width: 25px;
	height: 25px;
}

div.mapa {
	margin-bottom: -4px;
	display: block;
	position: relative;
}

/*Fim do contato*/
/*--------------*/