html, body{
	width: 100%;
	height: 100%;
}

a{ /*Padronizando as fontes*/
	color: #750000;
	font-weight: normal;
	font-size: ;
	font-family: 'Open Sans',sans-serif;	
	text-decoration: none;
}

.title {
	font-size: 4em;
	margin: 50px 0;	
	font-family: 'Raleway',sans-serif;
	font-weight: bold;
	color: #750000;
}

.container{
	width: 100%;
	margin: 0 auto; /*Centraliza o hgroup na viewport*/
	text-align: center; /*Centraliza os textos dentro do hgroup*/
}

.sub-container {
	width: 80%; /*Responsividade dos textos*/
	max-width: 800px; /*Responsividade dos textos*/
	margin: 0px auto; /*Centraliza o hgroup na viewport*/
	text-align: center; /*Centraliza os textos dentro do hgroup*/
}

div.row{
	display: inline-block;
}


/*Começo do cabeçalho*/
/*-------------------*/

header{
	position: fixed;
	display: block;
	background-color: white;
	width: 100%; /*Responsividade horizontal do menu*/
	padding: 5px 0; /*Dá um espaço entre a header e as fronteiras da página*/
}

header > nav {
	text-align: right; /*Coloca o texto da tag nav à direita*/
	padding-right: 20px;
}

#logo,header>a {
	box-sizing: border-box;
	padding-left: 20px;
	position: relative;	
	float: left; /*Coloca a imagem à esquerda*/
	height: 8vh; /*Responsividade vertical do menu*/
}

a.menuLink{
	font-size: 1.5em;
	padding: 5px 20px; /*Espaça os links*/
	line-height: 8vh; /*Centraliza os links verticalmente de maneira responsiva*/
	border-radius: 5px; /*Arredonda a borda*/
}

a.menuLink:hover {
	background-color: #750000;
	color: white;
}

a.menuLink:last-of-type{ /*Botão de contato*/
	background-color: #750000;
	color: white;
}

/*Fim do cabeçalho*/
/*----------------*/

/*Começo da apresentação*/
/*----------------------*/

div.apresentacao {
	background-image: url("../media/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
}

div#opacidade {
	padding: calc(8vh + 75px) 0 calc(8vh + 65px); /*Abaixa a div para não ser sobreposta pelo header*/
	width: 100%;
	background-color: rgba(50,50,50,.8);
}

h1.apresentacao {
	font-size: 4.5em;
	padding-bottom: 80px;
	font-weight: bold;
	font-family: 'Raleway',sans-serif;
	color: white;
}

h2.apresentacao {
	font-size: 3em;
	font-weight: bold;
	font-family: 'Raleway',sans-serif;
	color: white;
}

div.contato-button{
	margin-top: 150px;
	text-align: center;
}

a.contato-button {
	display: inline;
	text-align: center;
	padding: 5px 10px;
	font-size: 2.5em;
	color: white;
	background-color: #750000;
	border-radius: 5px;
	text-decoration: none;
}

/*Fim da apresentação*/
/*-------------------*/

/*Começo do portfólio*/
/*-------------------*/

h2.portfolio {	
	display: inline-block;
	font-family: 'Raleway',sans-serif;
	font-size: 1.5em;
	background-color: #750000;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

ul.portfolio{
	margin: 50px 0;
}

li.portfolio{
	border: 2px solid rgba(200,200,200,.8);
	width: 300px;
	padding: 20px;
	margin: 30px 15px;
	text-align: center;
}

h3.portfolio{
	font-size: 1.5em;
	font-family: 'Raleway',sans-serif;
	font-weight: bold;
	padding: 10px 0;
}

h4.portfolio{
	font-size: 1.2em;
	font-family: 'Open Sans',sans-serif;
}

img.portfolio {
	height: 100px;
	width: 100px;
}

/*Fim do portfólio*/
/*----------------*/

/*Começo do sobre nós*/
/*-------------------*/

p.sobre{
	font-size: 1.2em;
	font-family: 'tahoma',sans-serif;
	color: black;
	text-align: justify;
	margin: 15px 0;
}



div.galeria {
	margin-top: 50px;
}

img.galeria {
	width: 20vw;
	height: 20vw;
	margin: 10px;
	transition: .5s;
}

@media only and screen (min-width: 800px){
	img.galeria:hover{
		width: 30vw;
		height: 30vw;
		border: solid 1px rgb(200,200,200);
		padding: 3px;
		transition: .5s;
	}
}

/*Fim do sobre nós*/
/*----------------*/


/*Começo do contato*/
/*-----------------*/

div.mapa {
	margin-bottom: -4px;
}

/*Fim do contato*/
/*--------------*/


/*Começo do rodapé*/
/*----------------*/

div.rodape{
	width: 100%;
	background-color: rgb(100,100,100);
}

div.social {
	text-align: left;
	padding: 10px 0;
}

img.social{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 10px;
}

/*img.social:first-child,img.social:last-child{
	background-color: white;
	border-radius: 10px;
}*/

/*Fim do rodapé*/
/*-------------*/
