/*Começo da apresentação*/
/*----------------------*/

.apresentacao-container{
	
	
	background-image: url('../media/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}

.apresentacao-container .center {
	height: 100%;
	position: relative;
}

#opacidade {
	padding-top: calc(8vh + 30px);
	background-color: rgba(50,50,50,.7);
	height: 85vh;
}

.apresentacao-box {
	display: flex;
	width: 100%;
	align-items: center;
	height: 100%;
}

.apresentacao-box-left {
	width: 70%;
}

.apresentacao-box-right {
	position: relative;
	width: 30%;
	max-width: 500px;
	padding-right: 50px;
	box-sizing: content-box;
	border-radius: 10px;
}

.arrow {
	background-image: url('../media/down-arrow.svg');
	width: 75px;
	height: 75px;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%) translateY(-50%);
}

.apresentacao-box-left h1 {
	text-align: left;
	color: white;
	font-size: 4em;
	font-weight: bold;
	padding-bottom: 20px;
}

.apresentacao-box-left h2 {
	text-align: left;
	color: white;
	font-size: 2em;
}

.apresentacao-box-left hgroup {
	margin-right: 100px;
	border-radius: 20px;
}

.form-title {
	text-align: center;
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
	font-family: 'Open Sans',sans-serif;
}

.form-contato input[type="text"],.form-contato input[type="email"],.form-contato input[type="tel"],.form-contato textarea {
	width: 100%;
	padding: 10px 5px;
	border-radius: 5px;
	border: 1px solid #666;
	font-family: 'Open Sans',sans-serif;
	margin-bottom: 20px;
	margin-top: 5px;
	color: black;
}

:focus {
	outline: none;
}

.form-contato input[type="submit"] {
	display: block;
	margin: 0 auto;
	padding: 15px 20px;
	border-radius: 50px;
	border: 2px solid white;
	background-color: #750000;
	color: white;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: .5s;
}

.form-contato textarea {
	resize: none;
	padding-bottom: 50px;
}

.form-contato input[type="submit"]:hover {
	background-color: white;
	color: black;
	transition: .5s;
}

.form-contato label {
	color:white;
	font-weight: bold;
	font-size: 1.2em;
}

/*Fim da apresentação*/
/*-------------------*/

/*Começo do portfólio*/
/*-------------------*/

ul.portfolio {
	display: table;
	border-spacing: 20px;
	border-collapse: separate;
	margin: 50px auto;
}

a.portfolio{
	display: table-cell;
	box-sizing: border-box;
	width: 80vw;
	max-width: 350px;
	border: 2px solid rgba(200,200,200,.7);
	box-shadow: 2px 2px rgba(220,220,220,.5);
	padding: 50px 10px;
	border-radius: 5px;
	transition: 0.5s;
	position: relative;
	cursor: pointer;
}

a.portfolio:hover {
	background-color: #750000;
	color: white;
	transition: 0.5s;
}

div.portfolio-row{
	display: table-row;
}

a.portfolio > h1.portfolio{
	font-size: 1.5em;
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	padding: 10px 0;
}

a.portfolio > h2.portfolio{
	font-size: 1.2em;
	font-family: 'Open Sans',sans-serif;
	height: 54px;
}

a.portfolio > h3.portfolio {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 40px;
	font-size: 1.5em;
	font-family: 'Open Sans',sans-serif;
	color: white;
	background-color: #750000;
	margin-top: 30px;
	font-weight: bold;
	position: relative;
	transition: 0.5s;
}

a.portfolio > img.portfolio {
	height: 100px;
	width: 100px;
}

a.portfolio-contato{
	font-family: 'Roboto',sans-serif;
	font-size: 1.8em;
	padding: 15px 50px;
	border-radius: 50px;
	border: 2px solid transparent;
	background-color: #750000;
	color: white;
	font-weight: 600;
	transition: 0.5s;
}

a.portfolio-contato:hover {
	background-color: white;
	border: 2px solid black;
	color: black;
	transition: 0.5s;
}

div.portfolio{
	margin: 30px 0;
}

@media only screen and (max-width: 1024px), (max-width: 800px){

	.apresentacao-box-left {
		margin-top: 50px;
		width: 100%;
		margin-right: 0;
	}

	.apresentacao-box-left hgroup {
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;
	}

	.apresentacao-box-left h1{
		font-size: 3em;
		width: 100%;
		text-align: center;
	}

	.apresentacao-box-left h2 {
		font-size: 2em;
		width: 100%;
		text-align: center;
	}

	.arrow {
		width: 50px;
		height: 50px;
	}

	.apresentacao-box-right {
		display: none;
	}
}

@media only screen and (max-width: 800px){

	.apresentacao-box-left h1{
		font-size: 2em;
		width: 100%;
		text-align: center;
	}

	.apresentacao-box-left h2 {
		font-size: 1.5em;
		width: 100%;
		text-align: center;
	}
	
	div#opacidade {
		padding-left: 10px;
		padding-right: 10px;
	}

	ul.portfolio {
		margin: 10px auto;
	}

	a.portfolio > img.portfolio{
		height: 60px;
		width: 60px;
	}

	a.portfolio > h1.portfolio{
		font-size: 1.3em;
	}

	a.portfolio {
		display: inline-block;
		margin: 10px;
		padding: 20px 2px;
		width: 90%;
	}

	div.portfolio-row {
		display: inline;
	}

	a.portfolio > h2.portfolio{
		display:none;
		font-size: 1.2em;
	}

	a.portfolio:hover h2.portfolio{
		display: static;
	}

	a.portfolio > h3.portfolio {
		font-size: 1em;
		margin-top: 10px;
	}

	a.portfolio-contato{
		font-size: 1em;
		display: inline-block;
		padding: 5px;
		width: 80%;
	}

	.apresentacao-box-right {
		display: none;
	}

	.apresentacao-box-left {
		width: 100%;
		margin-top: 20px;
	}
}

@media only screen and (min-width: 2000px){
	.apresentacao-box-left {
		width: 70%;
	}

	.apresentacao-box-right {
		width: 30%;
	}
}

/*Fim do portfólio*/
/*----------------*/