/*Começo da apresentação*/
/*----------------------*/

div.apresentacao {
	background-image: url("../media/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: left;
	text-align: center;
}

div#opacidade {
	padding: calc(8vh + 75px) 0 calc(8vh + 65px) 0; /*Abaixa a div para não ser sobreposta pelo header*/
	width: 100%;
	background-color: rgba(50,50,50,.7);
}

h1.apresentacao {
	font-size: 4.5em;
	padding-bottom: 30px;
	font-weight: bold;
	font-family: 'Open Sans',sans-serif;
	color: white;
	text-shadow: 2px 2px black;
}

h2.apresentacao {
	font-size: 1.5em;
	font-weight: normal;
	font-family: 'Open Sans',sans-serif;
	color: white;
}

h3.apresentacao {
	display: inline-block;
	font-size: 2em;
	font-weight: normal;
	font-family: 'Open Sans',sans-serif;
	color: white;
	margin-top: 70px;
}

div.contato-button{
	margin-top: 100px;
	text-align: center;
}

a.contato-button {
	display: inline-block;
	font-family: 'Raleway',sans-serif;
	font-size: 1.8em;
	background-color: #750000;
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-weight: 600;
}

a.contato-button:hover {
	background-color: #8f0000;
	transition: 0.5s;
	padding: 12px;
}

.apresentacao-box-left {
	width: 70%;
	float: left;
}

.apresentacao-box-right {
	width: 30%;
	float:left;
	background-color: white;
	position: relative;
	right: 200px;
}

.form-contato{
	width: 100%;
	max-width: 1000px;
	height: 100%;
	padding: 30px;
	border: solid 1px rgb(200,200,200);
}

select {
	width: 300px;
	height: 50px;
	padding: 5px;
	font-family: 'Open Sans',sans-serif;
	font-size: 20px;
	text-align: center;
	float: left;
	font-weight: bold;
	clear: both;
}

select:focus {
	background-color: white;
	border: 2px solid black;
}

option[disabled] {
	font-family: 'Open Sans',sans-serif;
	font-weight: bold;
	display: none;
}


.input-box {
	padding: 20px;
	margin: 0 auto;
	width: 90%;
	clear: both;
}

.input-box > input[type="text"], .input-box > input[type="email"]  {
	padding: 5px;
	width: 100%;
	height: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding: 5px;
	box-sizing: content-box;
	border: 1px solid grey;
	border-radius: 5px;
	clear: both;
}

.input-box > textarea {
	width: 100%;
	height: 100px;
	resize: none;
	padding: 5px;
	box-sizing: content-box;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	border: 1px solid grey;
	border-radius: 5px;
}

:focus {
	background-color: white;
}

.input-box > input[type="submit"]{
	width: 300px;
	height: 50px;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	background-color: #750000;
	color: white;
	border: 1px groove black;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
	clear: both;
}

.input-box > input[type="submit"]:hover {
	background-color: #8f0000;
	transition: .3s;
}

.input-box > label{
	position: relative;
	bottom: 3px;
	font-family: 'Open Sans',sans-serif;
	font-size: 1.5em;
	color: black;
	font-weight: bold;
	clear: both;
	text-align: left;
	display: block;
}

.form-desc {
	font-family: 'Open Sans',sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #750000;
}


@media only screen and (max-width: 800px){
	h1.apresentacao {
		font-size: 3em;
	}
	h2.apresentacao{
		font-size: 1em;
	}
	h3.apresentacao {
		font-size: 1.2em;
	}
	div.contato-button{
		margin-top: 80px;
	}
	a.contato-button{
		font-size: 1.5em;
	}
}

/*Fim da apresentação*/
/*-------------------*/

/*Começo do portfólio*/
/*-------------------*/

ul.portfolio {
	display: table;
	border-spacing: 20px;
	border-collapse: separate;
	margin: 50px auto;
}

a.portfolio{
	display: table-cell;
	box-sizing: border-box;
	width: 80vw;
	max-width: 350px;
	border: 2px solid rgba(200,200,200,.7);
	box-shadow: 2px 2px rgba(220,220,220,.5);
	padding: 50px 10px;
	border-radius: 5px;
	transition: 0.5s;
	position: relative;
}

a.portfolio:hover {
	background-color: #750000;
	color: white;
	transition: 0.5s;
}

div.portfolio-row{
	display: table-row;
}

a.portfolio > h1.portfolio{
	font-size: 1.5em;
	font-family: 'Raleway',sans-serif;
	font-weight: bold;
	padding: 10px 0;
}

a.portfolio > h2.portfolio{
	font-size: 1.2em;
	font-family: 'Open Sans',sans-serif;
	height: 54px;
}

a.portfolio > h3.portfolio {
	display: inline-block;
	padding: 5px;
	font-size: 1.5em;
	font-family: 'Open Sans',sans-serif;
	color: white;
	background-color: #750000;
	margin-top: 30px;
	font-weight: bold;
	border-radius: 5px;
	position: relative;
}

a.portfolio > img.portfolio {
	height: 100px;
	width: 100px;
}

a.portfolio-contato{
	font-family: 'Raleway',sans-serif;
	font-size: 1.8em;
	background-color: #750000;
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-weight: 600;
	transition: 0.5s;
}

a.portfolio-contato:hover {
	background-color: #8f0000;
	transition: 0.5s;
	padding: 12px;
}

div.portfolio{
	margin-bottom: 20px;
}

@media only screen and (max-width: 800px){
	
	ul.portfolio {
		margin: 10px auto;
	}

	a.portfolio > img.portfolio{
		height: 75px;
		width: 75px;
	}

	hgroup.portfolio > h2.portfolio {
		font-size: 1.2em;
	}

	a.portfolio > h1.portfolio{
		font-size: 1.3em;
	}

	a.portfolio {
		display: inline-block;
		margin: 10px;
	}

	div.portfolio-row {
		display: inline;
	}

	a.portfolio > h2.portfolio{
		display:none;
	}

	a.portfolio:hover h2.portfolio{
		display: static;
	}

	a.portfolio-contato{
		font-size: 1em;
		display: inline-block;
		padding: 5px;
		width: 80%;
	}
}

/*Fim do portfólio*/
/*----------------*/