/*Começo do sobre nós*/
/*-------------------*/

h2.sobre.title {
	padding-top: 0;
}

div.sobre{
	padding-bottom: 20px;
	padding-top: calc(8vh + 20px);
}

p.sobre{
	font-size: 1.3em;
	font-family: 'Open Sans',sans-serif;
	color: black;
	text-align: justify;
	margin: 15px 0;
}

p.sobre:nth-of-type(3),p.sobre:nth-of-type(4){
	text-align: center;
}

h3.sobre {
	padding: 20px 0;
	font-size: 2.5em;
	font-weight: bold;
	font-family: 'Open Sans',sans-serif;
	color: #750000;
}


div.galeria {
	margin: 50px auto 0 auto;
	width: calc(40px + 60vw);
}

img.galeria {
	width: 30vw;
	height: calc(3 / 4 * 30vw);
	object-fit: cover;
	margin: 10px;
	float: left;
}

/*configurando zoom das imagens apenas para desktop*/

/*@media only screen and (min-width: 800px){ 
	img.galeria:hover{
		width: 40vw;
		height: calc(3 / 4 * 40vw);
		transition: .5s;
		margin: calc(10px - (3 / 4 * 5vw)) calc(2px - 5vw);
		z-index: 2;
		position: relative;
	}

	div.galeria:hover {
		width: calc(40px + 80vw);
	}
*/

/*Valores*/

	.valor-image img {
		width: 75px;
		height: 75px;
	}

	.itens-valores {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		margin: 0 auto;
		justify-content: space-around;
		width: 96%;
		max-width: 1200px;
		padding-top: 50px;
	}

	.item-valor {
		display: inline-block;
		width: 20vw;
		max-width: 300px;
		padding: 30px 0;
	}

	.item-valor .title-valor {
		font-size: 1.2em;
		font-weight: 600;
		padding: 10px 0;
	}

	.item-valor .valor-description {
		max-width: 200px;
		margin: 10px auto 0 auto;
		text-align: center;
		font-size: .9em;
		font-family: 'Open Sans',sans-serif;
	}

/***/

@media only screen and (max-width: 800px){
	img.galeria {
		width: 40vh;
		height: calc(3 / 4 * 40vh);
		display: block;
		float: none;
		margin: 10px auto;
	}
	div.galeria {
		width: 100%;
	}
}

/*Fim do sobre nós*/
/*----------------*/