a{ /*Padronizando as fontes*/
	color: #750000;
	font-weight: normal;
	font-family: 'Raleway',sans-serif;	
	text-decoration: none;
}


/*Começo do cabeçalho*/
/*-------------------*/

header{
	position: fixed;
	display: block;
	background-color: white;
	width: 100%; /*Responsividade horizontal do menu*/
	height: 8vh; /*Responsividade vertical do menu*/
}

header > nav {
	text-align: right; /*Coloca o texto da tag nav à direita*/
	padding-right: 20px;
}

#logo,header>a {
	box-sizing: border-box;
	padding-left: 20px;
	position: relative;	
	float: left; /*Coloca a imagem à esquerda*/
	height: inherit; /*Define a altura como sendo igual à tag header*/
}

a.menuLink{
	font-size: 1.5em;
	padding: 5px 20px; /*Espaça os links*/
	line-height: 8vh; /*Centraliza os links verticalmente de maneira responsiva*/
	border-radius: 5px; /*Arredonda a borda*/
}

a.menuLink:hover {
	background-color: #750000;
	color: white;
}

a.menuLink:last-of-type{ /*Botão de contato*/
	background-color: #750000;
	color: white;
}

@media only screen and (max-width: 800px){
	nav#menu {
		display: none;
	}
}

/*Fim do cabeçalho*/
/*----------------*/

/*Começo da apresentação*/
/*----------------------*/

div.apresentacao {
	background-image: url("./media/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

div#opacidade {
	padding: calc(8% + 30px) 0;
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.8);
}

hgroup.apresentacao {
	display: block;
	width: 80%; /*Responsividade dos textos*/
	max-width: 800px; /*Responsividade dos textos*/
	margin: 0 auto; /*Centraliza o hgroup na viewport*/
	text-align: center; /*Centraliza os textos dentro do hgroup*/
}

h1.apresentacao {
	font-size: 4.5em;
	padding-bottom: 80px;
	font-weight: bold;
	font-family: 'Raleway',sans-serif;
	color: white;
}

h2.apresentacao {
	font-size: 3em;
	font-weight: bold;
	font-family: 'Raleway',sans-serif;
	color: white;
}

div.contato{
	margin-top: 150px;
	text-align: center;
}

a.contato {
	display: inline;
	text-align: center;
	padding: 0 10px;
	font-size: 2.5em;
	color: white;
	background-color: #750000;
	border-radius: 5px;
	text-decoration: none;
}

/*Fim da apresentação*/
/*-------------------*/

/*Começo do portfólio*/
/*-------------------*/

div.portfolio {
	text-align: center;
}

hgroup.portfolio {
	display: block;
	width: 80%; /*Responsividade dos textos*/
	max-width: 800px; /*Responsividade dos textos*/
	margin: 50px auto; /*Centraliza o hgroup na viewport*/
	text-align: center; /*Centraliza os textos dentro do hgroup*/
}

h1.portfolio {
	font-size: 3em;
	padding-bottom: 50px;
}

h2.portfolio {
	font-size: 2.5em;
}

div.portfolio-linha{
	text-align: center;
}

div.portfolio-item{
	display: inline-block;
	margin: 0 100px;
	height: 100px;
}

img.portfolio-item{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

p.portfolio-item {
	display: inline-block;
	line-height: 100px;
}

/*Fim do portfólio*/
/*----------------*/


/*Começo do rodapé*/
/*----------------*/

div.rodape{
	background-color: rgb(100,100,100);
	margin-top: 300px;
}

div.social {
	text-align: left;
}

img.social{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 10px;
}

img.social:first-child,img.social:last-child{
	background-color: white;
	border-radius: 8px;
}

/*Fim do rodapé*/
/*-------------*/
